body {
    margin: 0px;
    background-color: black;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.header-text {
    color: white;
    
    font-size: 5em;
    margin: 0px;
}

.blink {
    animation: blinker 1s linear infinite;
    color: #33FF33;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.desc-text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    font-weight: 400;
    /* text-align: center; */
    margin-left: 10px;
}

.list {
    list-style: none;
}

.list li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

.list li::before {
    content: ">";
    color: #33FF33;
    margin-right: 10px;
}

.wrapper-body {
    margin: 10px 0px 0px 20px;
}

.wrapper-head {
    margin: 10px 0px 0px 30px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.space {
    margin: 15px 0px;
    height: 1px;
    width: 100px;
}

.break {
    width: 300px;
    border-top: 1px solid rgb(65, 65, 65);
    margin: 15px 0px;
}