body {
    margin: 0px;
    background-color: black;
}

.wrapper-ultra {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 800px;
    /* margin: 20px 0px 0px 20px; */

    /* height: 300px; */
}


.title-wrapper {
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-bottom: 50px;
}

.projects-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 5em;
}

.projects-sub {
/*    font-family: monospace;*/
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: white;
    margin-top: 20px;

}

.blink {
    animation: blinker 1s linear infinite;
    color: #33FF33;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.head {
    margin: 10px 0px;
}

.home {
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 20px;
}

.home:hover {
    color: #39FF14;
    cursor: pointer;
    /* font-family: 'Roboto Mono', monospace; */
}




.as {
    
}

/*.wrapper-item:hover {
    border-radius: 20px;
}*/

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.title {
    margin: 0px;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 2px black;
}

.description {
    margin: 0px;
    font-size: 0.8em;
    max-width: 250px;
    text-shadow: 2px 2px 2px black;
}

.stack li {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    text-shadow: 2px 2px 2px black;

}





.inner-wrapper-item {
    color: white;
    opacity: 100%;
}

.wrapper-item {
    border: 1px solid #39FF14;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    text-align: left;
    margin: 20px;
}






.slc {
    position: relative;
    width: 350px;
}

.bkgimg-slc {
    border-radius: 5px;
    position: absolute;
    opacity: 50%;
    width: 350px;
    height: 198px;
    background-image: url("../../assets/cartoons.png");
    transition-duration: 0.2s;
    background-size: 90%;
    animation: slcpan1 350s linear infinite;
}

.slcw:hover .bkgimg-slc {
    background-size: 100%;
    animation: slcpan2 5s linear infinite;
    opacity: 100%;
/*    border-radius: 20px;*/
}

@keyframes slcpan1 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 20000% -30000%;
    }
}

@keyframes slcpan2 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 100% 70%;
    }
}








.as {
    position: relative;
    width: 350px;
}

.bkgimg-as {
    border-radius: 5px;
    position: absolute;
    opacity: 50%;
    width: 350px;
    height: 198px;
    transition-duration: 0.2s;
    background-image: url("../../assets/as.png");
    background-size: 90%;
    animation: aspan1 650s linear infinite;
}

.asw:hover .bkgimg-as {
    background-size: 100%;
    animation: slcpan2 5s linear infinite;
    opacity: 100%;
/*    border-radius: 20px;*/
}

@keyframes aspan1 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 20000% 30000%;
    }
}

@keyframes aspan2 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 100% 70%;
    }
}












.slow {
    position: relative;
    width: 350px;
}

.bkgimg-slow {
    border-radius: 5px;
    position: absolute;
    opacity: 50%;
    width: 350px;
    height: 198px;
    background-image: url("../../assets/slow.png");
    transition-duration: 0.2s;
    background-size: 90%;
    animation: slowpan1 350s linear infinite;
}

.sloww:hover .bkgimg-slow {
    background-size: 100%;
    animation: slowpan2 5s linear infinite;
    opacity: 100%;
/*    border-radius: 20px;*/
}

@keyframes slowpan1 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: -20000% -30000%;
    }
}

@keyframes slowpan2 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 100% 70%;
    }
}







.brb {
    position: relative;
    width: 350px;
}

.bkgimg-brb {
    border-radius: 5px;
    position: absolute;
    opacity: 50%;
    width: 350px;
    height: 198px;
    background-image: url("../../assets/bruleball.png");
    transition-duration: 0.2s;
    background-size: 90%;
    animation: brbpan1 350s linear infinite;
}

.brbw:hover .bkgimg-brb {
    background-size: 100%;
    animation: brbpan2 5s linear infinite;
    opacity: 100%;
/*    border-radius: 20px;*/
}

@keyframes brbpan1 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: -20000% 30000%;
    }
}

@keyframes brbpan2 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 100% 70%;
    }
}











.mx {
    position: relative;
    width: 350px;
}

.bkgimg-mx {
    border-radius: 5px;
    position: absolute;
    opacity: 50%;
    width: 350px;
    height: 198px;
    background-image: url("../../assets/matrix.png");
    transition-duration: 0.2s;
    background-size: 90%;
    animation: mxpan1 350s linear infinite;
}

.mxw:hover .bkgimg-mx {
    background-size: 100%;
    animation: mxpan2 5s linear infinite;
    opacity: 100%;
/*    border-radius: 20px;*/
}

@keyframes mxpan1 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 20000% -30000%;
    }
}

@keyframes mxpan2 {
    0% {
        background-position: -50% -50%;
    }

    100% {
        background-position: 100% 70%;
    }
}




