body {
    margin: 0px;
    background-color: black;
}

.wrapper-ultra {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px 0px 20px;
    color: white;
}

.title-wrapper {
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-bottom: 50px;
}

.projects-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 5em;
}

.projects-sub {
/*    font-family: monospace;*/
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: white;
    margin-top: 20px;

}

.blink {
    animation: blinker 1s linear infinite;
    color: #33FF33;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.head {
    margin: 10px 0px;
}

.home {
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    transition-duration: 0.1s;
}

.home:hover {
    color: #39FF14;
    cursor: pointer;
    /* font-family: 'Roboto Mono', monospace; */
}

.wrapper-list {
    /* border: 1px dashed blue; */
    width: 25%;
    min-width: 100px;
}

.update-link {
    color: #39FF14;
    display: block;
    margin: 3px 0px;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    width: fit-content;
}

.update-link:hover {
    color: #a7ff98;
    margin-left: 5px;
}